@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";
@config "../tailwind.config.mjs";



html,
body {
  /* Never let the browser scroll the page itself */
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: auto;
  overscroll-behavior-y: auto;
  touch-action: pan-y;
}

#root {
  height: 100%;
  overflow: hidden;
}


.talkapp-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.animate-spin-slow {
  animation: spinSlow 3s linear infinite;
}